<section class="container">
  <a
    class="btn-back"
    [routerLink]="['/headphones']"
    routerLinkActive="router-link-active"
    >Go Back</a
  >

  <div class="product">
    <picture>
      <source media="(min-width: 768px)" srcset="{{product.image.tablet}}" />
      <source media="(min-width: 992px)" srcset="{{product.image.desktop}}" />
      <img src="{{ product.image.mobile }}" alt="best gear image" />
    </picture>

    <div>
      <p class="product__new" *ngIf="product.new === true">New Product</p>
      <h2 class="product__title">{{ product.name }}</h2>
      <p class="product__descrption">
        {{ product.description }}
      </p>

      <h6 class="product__price">{{ product.price | currency }}</h6>

      <div class="btn-wrapper">
        <div class="d-flex">
          <button class="btn-group">-</button>
          <p class="btn-text">1</p>
          <button class="btn-group">+</button>
        </div>

        <a class="btn">Add To Cart</a>
      </div>
    </div>
  </div>

  <div class="features">
    <h3 class="product__subtitle">Features</h3>
    <p class="product__features">
      {{ product.features }}
    </p>
  </div>

  <div class="included">
    <h3 class="product__subtitle">In The Box</h3>
    <ul *ngFor="let item of product.includes">
      <li>x{{ item.quantity }} {{ item.item }}</li>
    </ul>
  </div>

  <div class="gallery">
    <picture>
      <source
        media="(min-width: 768px)"
        srcset="
          /assets/product-xx99-mark-two-headphones/tablet/image-gallery-1.jpg
        "
      />
      <source
        media="(min-width: 992px)"
        srcset="
          /assets/product-xx99-mark-two-headphones/desktop/image-gallery-1.jpg
        "
      />
      <img
        src="/assets/product-xx99-mark-two-headphones/mobile/image-gallery-1.jpg"
        alt="best gear image"
      />
    </picture>

    <picture>
      <source
        media="(min-width: 768px)"
        srcset="
          /assets/product-xx99-mark-two-headphones/tablet/image-gallery-2.jpg
        "
      />
      <source
        media="(min-width: 992px)"
        srcset="
          /assets/product-xx99-mark-two-headphones/desktop/image-gallery-2.jpg
        "
      />
      <img
        src="/assets/product-xx99-mark-two-headphones/mobile/image-gallery-2.jpg"
        alt="best gear image"
      />
    </picture>

    <picture>
      <source
        media="(min-width: 768px)"
        srcset="
          /assets/product-xx99-mark-two-headphones/tablet/image-gallery-3.jpg
        "
      />
      <source
        media="(min-width: 992px)"
        srcset="
          /assets/product-xx99-mark-two-headphones/desktop/image-gallery-3.jpg
        "
      />
      <img
        src="/assets/product-xx99-mark-two-headphones/mobile/image-gallery-3.jpg"
        alt="best gear image"
      />
    </picture>
  </div>

  <div class="others">
    <h3 class="product__subtitle">You may also like</h3>

    <div class="other">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="/assets/shared/tablet/image-xx99-mark-one-headphones.jpg"
        />
        <source
          media="(min-width: 992px)"
          srcset="/assets/shared/desktop/image-xx99-mark-one-headphones.jpg"
        />
        <img
          src="/assets/shared/mobile/image-xx99-mark-one-headphones.jpg"
          alt="best gear image"
        />
      </picture>

      <h5 class="other__title">XX99 Mark I</h5>

      <a href="#" class="btn">See Product</a>
    </div>

    <div class="other">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="/assets/shared/tablet/image-xx59-headphones.jpg"
        />
        <source
          media="(min-width: 992px)"
          srcset="/assets/shared/desktop/image-xx59-headphones.jpg"
        />
        <img
          src="/assets/shared/mobile/image-xx59-headphones.jpg"
          alt="best gear image"
        />
      </picture>

      <h5 class="other__title">XX59</h5>

      <a href="#" class="btn">See Product</a>
    </div>

    <div class="other">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="/assets/shared/tablet/image-zx9-speaker.jpg"
        />
        <source
          media="(min-width: 992px)"
          srcset="/assets/shared/desktop/image-zx9-speaker.jpg"
        />
        <img
          src="/assets/shared/mobile/image-zx9-speaker.jpg"
          alt="best gear image"
        />
      </picture>

      <h5 class="other__title">ZX9 Speaker</h5>

      <a href="#" class="btn">See Product</a>
    </div>
  </div>

  <app-categories></app-categories>

  <app-about></app-about>
</section>
