<section>
  <div class="product">
    <div class="product-wrapper">
      <p class="product__new">New Product</p>
      <h1 class="product__title">XX99 Mark II Headphones</h1>
      <p class="product__text">
        Experience natural, lifelike audio and exceptional build quality made
        for the passionate music enthusiast.
      </p>
      <a class="btn" href="#">See Product</a>
    </div>
  </div>

  <div class="category">
    <div class="container category-wrapper">
      <div class="category-card">
        <img
          class="card__img"
          src="/assets/shared/desktop/image-headphones.png"
          alt="headphones image"
        />
        <h5 class="card__title">Headphones</h5>
        <a class="btn-arrow" href="#">Shop</a>
      </div>

      <div class="category-card">
        <img
          class="card__img"
          src="/assets/shared/desktop/image-speakers.png"
          alt="speakers image"
        />
        <h5 class="card__title">Speakers</h5>
        <a class="btn-arrow" href="#">Shop</a>
      </div>

      <div class="category-card">
        <img
          class="card__img"
          src="/assets/shared/desktop/image-earphones.png"
          alt="earphones image"
        />
        <h5 class="card__title">Earphones</h5>
        <a class="btn-arrow" href="#">Shop</a>
      </div>
    </div>
  </div>
</section>
