@import "abstracts/variables";

.btn {
  display: inline-block;
  background-color: var(--bg, $clr-accent-400);
  color: var(--fg, white);
  font-size: 0.8125rem;
  font-weight: $fw-bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.2em 2.5em;

  &:hover,
  &:focus {
    background-color: var(--hover-bg, $clr-accent-300);
    color: var(--hover-fg, white);
  }
}

.btn-light {
  border: black 1.5px solid;
  --bg: white;
  --fg: black;
  --hover-bg: black;
  --hover-fg: white;
}

.btn-dark {
  --bg: black;
  --fg: white;
  --hover-bg: #4c4c4c;
}

.btn-transparent {
  border: black 1.5px solid;
  --bg: rgba($color: #000000, $alpha: 0);
  --fg: black;
  --hover-bg: black;
  --hover-fg: white;
}

.btn-arrow {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: $fw-bold;
  color: rgba($color: #000000, $alpha: 0.5);
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 1em;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(400%, -50%);
    background-image: url("/assets/shared/desktop/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 7px;
    height: 11px;
  }

  &:focus,
  &:hover {
    color: $clr-accent-400;
  }
}
