<nav class="navbar">
  <div class="navbar-wrapper">
    <div class="navbar-toggler" (click)="toggleNav()">
      <img
        src="/assets/shared/tablet/icon-hamburger.svg"
        alt="hamburger icon"
      />
    </div>

    <a [routerLink]="['/']">
      <img
        class="navbar-logo"
        src="/assets/shared/desktop/logo.svg"
        alt="logo"
      />
    </a>

    <ul class="nav" [ngClass]="isOpen ? 'toggle' : ''">
      <li class="nav-item" (click)="closeMenu()">
        <a
          class="nav-link"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          >Home</a
        >
      </li>
      <li class="nav-item" (click)="closeMenu()">
        <a
          class="nav-link"
          [routerLink]="['/headphones']"
          routerLinkActive="router-link-active"
          >Headphones</a
        >
      </li>
      <li class="nav-item" (click)="closeMenu()">
        <a
          class="nav-link"
          [routerLink]="['/speakers']"
          routerLinkActive="router-link-active"
          >Speakers</a
        >
      </li>
      <li class="nav-item" (click)="closeMenu()">
        <a
          class="nav-link"
          [routerLink]="['/earphones']"
          routerLinkActive="router-link-active"
          >Earphones</a
        >
      </li>
    </ul>

    <a href="#" class="navbar-cart">
      <img src="/assets/shared/desktop/icon-cart.svg" alt="cart icon" />
    </a>
  </div>
</nav>
