<article>
    <div class="category">
        <div class="container category-wrapper">
            <div class="category-card">
                <img class="card__img"
                     src="/assets/shared/desktop/image-headphones.png"
                     alt="headphones image" />
                <h5 class="card__title">Headphones</h5>
                <NavLink class="" href="/headphones">Shop</NavLink>
            </div>

            <div class="category-card">
                <img class="card__img"
                     src="/assets/shared/desktop/image-speakers.png"
                     alt="speakers image" />
                <h5 class="card__title">Speakers</h5>
                <NavLink class="" href="/speakers">Shop</NavLink>
            </div>

            <div class="category-card">
                <img class="card__img"
                     src="/assets/shared/desktop/image-earphones.png"
                     alt="earphones image" />
                <h5 class="card__title">Earphones</h5>
                <NavLink class="" href="/earphones">Shop</NavLink>
            </div>
        </div>
    </div>
</article>

@code {

}
