@import "abstracts/variables";

img {
  // display: block;
  max-width: 100%;
  object-fit: cover;
  // margin: 0 auto;
}

.product {
  text-align: center;
  margin: 4em auto;
}

.product__new {
  font-size: 0.875rem;
  font-weight: $fw-regular;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  color: $clr-accent-400;
  margin: 2em auto;
}

.product__title {
  font-size: 1.75rem;
  font-weight: $fw-bold;
  letter-spacing: 1px;
  margin: 1em auto;
}

.product__text {
  font-size: 0.9375;
  font-weight: $fw-light;
  line-height: 1.5625rem;
  margin-bottom: 1.5em;
}

@media (min-width: 768px) {
  .product__title {
    font-size: 2.5rem;
  }

  .product__text {
    max-width: 60ch;
    margin: 1.5em auto;
  }
}

@media (min-width: 992px) {
  .product {
    text-align: left;
    display: flex;
    gap: 2em;
  }

  img {
    min-width: 100%;
    min-height: 440px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
  }

  .product__text {
    margin: 1.5em 0;
  }

  .product__body {
    width: 100%;
    margin: auto;
  }

  .reverse {
    order: 2;
  }
}
