<article class="container product">
  <picture>
    <source
      media="(min-width: 768px)"
      srcset="/assets/category-headphones/tablet/image-xx99-mark-two.jpg"
    />
    <source
      media="(min-width: 992px)"
      srcset="/assets/category-headphones/desktop/image-xx99-mark-two.jpg"
    />
    <img
      src="/assets/category-headphones/mobile/image-xx99-mark-two.jpg"
      alt="best gear image"
    />
  </picture>

  <div>
    <p class="product__new">New Product</p>
    <h2 class="product__title">XX99 Mark II Headphones</h2>
    <p class="product__text">
      The new XX99 Mark II headphones is the pinnacle of pristine audio. It
      redefines your premium headphone experience by reproducing the balanced
      depth and precision of studio-quality sound.
    </p>

    <a
      class="btn"
      [routerLink]="['/headphones/1']"
      routerLinkActive="router-link-active"
      >See Product</a
    >
  </div>
</article>
