<article class="container product">
  <picture>
    <source media="(min-width: 768px)" srcset="{{product.image.tablet}}" />
    <source media="(min-width: 992px)" srcset="{{product.image.desktop}}" />
    <img src="{{ product.image.mobile }}" alt="best gear image" />
  </picture>

  <div>
    <p class="product__new" *ngIf="product.new == true">New Product</p>
    <h2 class="product__title">{{ product.name }}</h2>
    <p class="product__text">
      {{ product.description }}
    </p>

    <a
      class="btn"
      routerLink="/headphones/{{ product.id }}"
      routerLinkActive="router-link-active"
      >See Product</a
    >
  </div>
</article>
