<article class="container product">
  <picture *ngIf="product.display">
    <source media="(min-width: 768px)" srcset="{{product.display.tablet}}" />
    <source media="(min-width: 992px)" srcset="{{product.display.desktop}}" />
    <img src="{{ product.display.mobile }}" alt="best gear image" />
  </picture>

  <div class="product__body">
    <p class="product__new" *ngIf="product.new == true">New Product</p>
    <h2 class="product__title">{{ product.name }}</h2>
    <p class="product__text">
      {{ product.description }}
    </p>

    <a
      class="btn"
      routerLink="/headphones/{{ product.id }}-{{ product.slug }}"
      routerLinkActive="router-link-active"
      >See Product</a
    >
  </div>
</article>
