<article>
  <div class="category">
    <div class="container category-wrapper">
      <div class="category-card">
        <img
          class="card__img"
          src="/assets/shared/desktop/image-headphones.png"
          alt="headphones image"
        />
        <h5 class="card__title">Headphones</h5>
        <a class="btn-arrow" [routerLink]="['/headphones']">Shop</a>
      </div>

      <div class="category-card">
        <img
          class="card__img"
          src="/assets/shared/desktop/image-speakers.png"
          alt="speakers image"
        />
        <h5 class="card__title">Speakers</h5>
        <a class="btn-arrow" href="#">Shop</a>
      </div>

      <div class="category-card">
        <img
          class="card__img"
          src="/assets/shared/desktop/image-earphones.png"
          alt="earphones image"
        />
        <h5 class="card__title">Earphones</h5>
        <a class="btn-arrow" href="#">Shop</a>
      </div>
    </div>
  </div>
</article>
